
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<p class="text-center mt-5 p-3 lead" >
    Uygulama bir hat aile karşilaştı.Teknik ekibimiz bilgilenidirldi.Sorun en kısa zamanda fixlenecek
    <br />
    <br />

     <a asp-action="Index" asp-controller="Home" class="btn btn-primary"> Geri Dön</a>
</p>
   