@using ASPNETCOREFULL.Entity.Models

@model List<Product>
@*<link href="~/content\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />*@
<link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<h1 class="text-danger"> HOME INDEX</h1>


<hr />

@await Component.InvokeAsync("CategoryVC")


<hr />
<br />
<a  asp-action="Add" asp-controller="Home" asp-route-id="1" class="btn btn-primary">Tag Helper</a>
<div>
    <h4>Burası tag helperdan geldi.Categorinin ürünleri;</h4>
    <getCategoryName category-id="1"></getCategoryName>
</div>

<br />